name: tests unitaires
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python for Demo
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Installation de python
        run: pip3 install pytest
      - name: Run tests
        run: pytest TP1/test.py
      - name: Affichage branche
        run: echo "Nom branche ${{ github.ref }}"
      - name: Affichage Os
        run: echo "os ${{ runner.os }}"
